.highlight  {
  background: var(--color-box-background);
  padding: 1em;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  font-size: 0.9em;
  overflow: auto;
  margin: 1.5em -1em;
  line-height: 1.6;

  code {
    padding: 0;
    background: transparent;
    border: none;
    color: var(--color-text);
  }
}

div.highlight {
  display: grid;
}

/* Light mode code highlighting */
html.light-mode .highlight {
  .c { color: #998; font-style: italic } /* Comment */
  .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .k { color: #000; font-weight: bold } /* Keyword */
  .o { color: #000; font-weight: bold } /* Operator */
  .cm { color: #998; font-style: italic } /* Comment.Multiline */
  .cp { color: #999; font-weight: bold } /* Comment.Preproc */
  .c1 { color: #998; font-style: italic } /* Comment.Single */
  .cs { color: #999; font-weight: bold; font-style: italic } /* Comment.Special */
  .gd { color: #000; background-color: #fdd } /* Generic.Deleted */
  .gd .x { color: #000; background-color: #faa } /* Generic.Deleted.Specific */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: #a00 } /* Generic.Error */
  .gh { color: #999 } /* Generic.Heading */
  .gi { color: #000; background-color: #dfd } /* Generic.Inserted */
  .gi .x { color: #000; background-color: #afa } /* Generic.Inserted.Specific */
  .go { color: #888 } /* Generic.Output */
  .gp { color: #555 } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #aaa } /* Generic.Subheading */
  .gt { color: #a00 } /* Generic.Traceback */
  .kc { color: #000; font-weight: bold } /* Keyword.Constant */
  .kd { color: #000; font-weight: bold } /* Keyword.Declaration */
  .kp { color: #000; font-weight: bold } /* Keyword.Pseudo */
  .kr { color: #000; font-weight: bold } /* Keyword.Reserved */
  .kt { color: #458; font-weight: bold } /* Keyword.Type */
  .m { color: #099 } /* Literal.Number */
  .s { color: #d14 } /* Literal.String */
  .na { color: #008 } /* Name.Attribute */
  .nb { color: #0086B3 } /* Name.Builtin */
  .nc { color: #458; font-weight: bold } /* Name.Class */
  .no { color: #008 } /* Name.Constant */
  .ni { color: #800 } /* Name.Entity */
  .ne { color: #900; font-weight: bold } /* Name.Exception */
  .nf { color: #900; font-weight: bold } /* Name.Function */
  .nn { color: #555 } /* Name.Namespace */
  .nt { color: #000080 } /* Name.Tag */
  .nv { color: #008 } /* Name.Variable */
  .ow { font-weight: bold } /* Operator.Word */
  .w { color: #bbb } /* Text.Whitespace */
  .mf { color: #099 } /* Literal.Number.Float */
  .mh { color: #099 } /* Literal.Number.Hex */
  .mi { color: #099 } /* Literal.Number.Integer */
  .mo { color: #099 } /* Literal.Number.Oct */
  .sb { color: #d14 } /* Literal.String.Backtick */
  .sc { color: #d14 } /* Literal.String.Char */
  .sd { color: #d14 } /* Literal.String.Doc */
  .s2 { color: #d14 } /* Literal.String.Double */
  .se { color: #d14 } /* Literal.String.Escape */
  .sh { color: #d14 } /* Literal.String.Heredoc */
  .si { color: #d14 } /* Literal.String.Interpol */
  .sx { color: #d14 } /* Literal.String.Other */
  .sr { color: #009926 } /* Literal.String.Regex */
  .s1 { color: #d14 } /* Literal.String.Single */
  .dl { color: #d14 } /* Literal.String.Delimiter */
  .ss { color: #990073 } /* Literal.String.Symbol */
  .bp { color: #999 } /* Name.Builtin.Pseudo */
  .vc { color: #008 } /* Name.Variable.Class */
  .vg { color: #008 } /* Name.Variable.Global */
  .vi { color: #008 } /* Name.Variable.Instance */
  .il { color: #099 } /* Literal.Number.Integer.Long */
}

/* Dark mode code highlighting */
html.dark-mode .highlight {
  .c { color: #75715e } /* Comment */
  .err { color: #f92672; background-color: #562847 } /* Error */
  .k { color: #66d9ef } /* Keyword */
  .o { color: #f92672 } /* Operator */
  .cm { color: #75715e } /* Comment.Multiline */
  .cp { color: #75715e } /* Comment.Preproc */
  .c1 { color: #75715e } /* Comment.Single */
  .cs { color: #75715e } /* Comment.Special */
  .gd { color: #f92672; background-color: #562847 } /* Generic.Deleted */
  .gd .x { color: #f92672 } /* Generic.Deleted.Specific */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: #f92672 } /* Generic.Error */
  .gh { color: #66d9ef } /* Generic.Heading */
  .gi { color: #a6e22e; background-color: #464741 } /* Generic.Inserted */
  .gi .x { color: #a6e22e } /* Generic.Inserted.Specific */
  .go { color: #66d9ef } /* Generic.Output */
  .gp { color: #66d9ef } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #75715e } /* Generic.Subheading */
  .gt { color: #f92672 } /* Generic.Traceback */
  .kc { color: #66d9ef } /* Keyword.Constant */
  .kd { color: #66d9ef } /* Keyword.Declaration */
  .kp { color: #66d9ef } /* Keyword.Pseudo */
  .kr { color: #66d9ef } /* Keyword.Reserved */
  .kt { color: #66d9ef } /* Keyword.Type */
  .m { color: #ae81ff } /* Literal.Number */
  .s { color: #e6db74 } /* Literal.String */
  .na { color: #a6e22e } /* Name.Attribute */
  .nb { color: #f8f8f2 } /* Name.Builtin */
  .nc { color: #a6e22e } /* Name.Class */
  .no { color: #66d9ef } /* Name.Constant */
  .ni { color: #f8f8f2 } /* Name.Entity */
  .ne { color: #f92672 } /* Name.Exception */
  .nf { color: #a6e22e } /* Name.Function */
  .nn { color: #f8f8f2 } /* Name.Namespace */
  .nt { color: #f92672 } /* Name.Tag */
  .nv { color: #f8f8f2 } /* Name.Variable */
  .ow { color: #f92672 } /* Operator.Word */
  .w { color: #f8f8f2 } /* Text.Whitespace */
  .mf { color: #ae81ff } /* Literal.Number.Float */
  .mh { color: #ae81ff } /* Literal.Number.Hex */
  .mi { color: #ae81ff } /* Literal.Number.Integer */
  .mo { color: #ae81ff } /* Literal.Number.Oct */
  .sb { color: #e6db74 } /* Literal.String.Backtick */
  .sc { color: #e6db74 } /* Literal.String.Char */
  .sd { color: #e6db74 } /* Literal.String.Doc */
  .s2 { color: #e6db74 } /* Literal.String.Double */
  .se { color: #ae81ff } /* Literal.String.Escape */
  .sh { color: #e6db74 } /* Literal.String.Heredoc */
  .si { color: #e6db74 } /* Literal.String.Interpol */
  .sx { color: #e6db74 } /* Literal.String.Other */
  .sr { color: #e6db74 } /* Literal.String.Regex */
  .s1 { color: #e6db74 } /* Literal.String.Single */
  .dl { color: #e6db74 } /* Literal.String.Delimiter */
  .ss { color: #e6db74 } /* Literal.String.Symbol */
  .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
  .vc { color: #f8f8f2 } /* Name.Variable.Class */
  .vg { color: #f8f8f2 } /* Name.Variable.Global */
  .vi { color: #f8f8f2 } /* Name.Variable.Instance */
  .il { color: #ae81ff } /* Literal.Number.Integer.Long */
}

/* System preference code highlighting (default light) */
@media (prefers-color-scheme: light) {
  .highlight {
    .c { color: #998; font-style: italic } /* Comment */
    .err { color: #a61717; background-color: #e3d2d2 } /* Error */
    .k { color: #000; font-weight: bold } /* Keyword */
    .o { color: #000; font-weight: bold } /* Operator */
    .cm { color: #998; font-style: italic } /* Comment.Multiline */
    .cp { color: #999; font-weight: bold } /* Comment.Preproc */
    .c1 { color: #998; font-style: italic } /* Comment.Single */
    .cs { color: #999; font-weight: bold; font-style: italic } /* Comment.Special */
    .gd { color: #000; background-color: #fdd } /* Generic.Deleted */
    .gd .x { color: #000; background-color: #faa } /* Generic.Deleted.Specific */
    .ge { font-style: italic } /* Generic.Emph */
    .gr { color: #a00 } /* Generic.Error */
    .gh { color: #999 } /* Generic.Heading */
    .gi { color: #000; background-color: #dfd } /* Generic.Inserted */
    .gi .x { color: #000; background-color: #afa } /* Generic.Inserted.Specific */
    .go { color: #888 } /* Generic.Output */
    .gp { color: #555 } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #aaa } /* Generic.Subheading */
    .gt { color: #a00 } /* Generic.Traceback */
    .kc { color: #000; font-weight: bold } /* Keyword.Constant */
    .kd { color: #000; font-weight: bold } /* Keyword.Declaration */
    .kp { color: #000; font-weight: bold } /* Keyword.Pseudo */
    .kr { color: #000; font-weight: bold } /* Keyword.Reserved */
    .kt { color: #458; font-weight: bold } /* Keyword.Type */
    .m { color: #099 } /* Literal.Number */
    .s { color: #d14 } /* Literal.String */
    .na { color: #008 } /* Name.Attribute */
    .nb { color: #0086B3 } /* Name.Builtin */
    .nc { color: #458; font-weight: bold } /* Name.Class */
    .no { color: #008 } /* Name.Constant */
    .ni { color: #800 } /* Name.Entity */
    .ne { color: #900; font-weight: bold } /* Name.Exception */
    .nf { color: #900; font-weight: bold } /* Name.Function */
    .nn { color: #555 } /* Name.Namespace */
    .nt { color: #000080 } /* Name.Tag */
    .nv { color: #008 } /* Name.Variable */
    .ow { font-weight: bold } /* Operator.Word */
    .w { color: #bbb } /* Text.Whitespace */
    .mf { color: #099 } /* Literal.Number.Float */
    .mh { color: #099 } /* Literal.Number.Hex */
    .mi { color: #099 } /* Literal.Number.Integer */
    .mo { color: #099 } /* Literal.Number.Oct */
    .sb { color: #d14 } /* Literal.String.Backtick */
    .sc { color: #d14 } /* Literal.String.Char */
    .sd { color: #d14 } /* Literal.String.Doc */
    .s2 { color: #d14 } /* Literal.String.Double */
    .se { color: #d14 } /* Literal.String.Escape */
    .sh { color: #d14 } /* Literal.String.Heredoc */
    .si { color: #d14 } /* Literal.String.Interpol */
    .sx { color: #d14 } /* Literal.String.Other */
    .sr { color: #009926 } /* Literal.String.Regex */
    .s1 { color: #d14 } /* Literal.String.Single */
    .dl { color: #d14 } /* Literal.String.Delimiter */
    .ss { color: #990073 } /* Literal.String.Symbol */
    .bp { color: #999 } /* Name.Builtin.Pseudo */
    .vc { color: #008 } /* Name.Variable.Class */
    .vg { color: #008 } /* Name.Variable.Global */
    .vi { color: #008 } /* Name.Variable.Instance */
    .il { color: #099 } /* Literal.Number.Integer.Long */
  }
}

@media (prefers-color-scheme: dark) {
  .highlight {
    .c { color: #75715e } /* Comment */
    .err { color: #f92672; background-color: #562847 } /* Error */
    .k { color: #66d9ef } /* Keyword */
    .o { color: #f92672 } /* Operator */
    .cm { color: #75715e } /* Comment.Multiline */
    .cp { color: #75715e } /* Comment.Preproc */
    .c1 { color: #75715e } /* Comment.Single */
    .cs { color: #75715e } /* Comment.Special */
    .gd { color: #f92672; background-color: #562847 } /* Generic.Deleted */
    .gd .x { color: #f92672 } /* Generic.Deleted.Specific */
    .ge { font-style: italic } /* Generic.Emph */
    .gr { color: #f92672 } /* Generic.Error */
    .gh { color: #66d9ef } /* Generic.Heading */
    .gi { color: #a6e22e; background-color: #464741 } /* Generic.Inserted */
    .gi .x { color: #a6e22e } /* Generic.Inserted.Specific */
    .go { color: #66d9ef } /* Generic.Output */
    .gp { color: #66d9ef } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #75715e } /* Generic.Subheading */
    .gt { color: #f92672 } /* Generic.Traceback */
    .kc { color: #66d9ef } /* Keyword.Constant */
    .kd { color: #66d9ef } /* Keyword.Declaration */
    .kp { color: #66d9ef } /* Keyword.Pseudo */
    .kr { color: #66d9ef } /* Keyword.Reserved */
    .kt { color: #66d9ef } /* Keyword.Type */
    .m { color: #ae81ff } /* Literal.Number */
    .s { color: #e6db74 } /* Literal.String */
    .na { color: #a6e22e } /* Name.Attribute */
    .nb { color: #f8f8f2 } /* Name.Builtin */
    .nc { color: #a6e22e } /* Name.Class */
    .no { color: #66d9ef } /* Name.Constant */
    .ni { color: #f8f8f2 } /* Name.Entity */
    .ne { color: #f92672 } /* Name.Exception */
    .nf { color: #a6e22e } /* Name.Function */
    .nn { color: #f8f8f2 } /* Name.Namespace */
    .nt { color: #f92672 } /* Name.Tag */
    .nv { color: #f8f8f2 } /* Name.Variable */
    .ow { color: #f92672 } /* Operator.Word */
    .w { color: #f8f8f2 } /* Text.Whitespace */
    .mf { color: #ae81ff } /* Literal.Number.Float */
    .mh { color: #ae81ff } /* Literal.Number.Hex */
    .mi { color: #ae81ff } /* Literal.Number.Integer */
    .mo { color: #ae81ff } /* Literal.Number.Oct */
    .sb { color: #e6db74 } /* Literal.String.Backtick */
    .sc { color: #e6db74 } /* Literal.String.Char */
    .sd { color: #e6db74 } /* Literal.String.Doc */
    .s2 { color: #e6db74 } /* Literal.String.Double */
    .se { color: #ae81ff } /* Literal.String.Escape */
    .sh { color: #e6db74 } /* Literal.String.Heredoc */
    .si { color: #e6db74 } /* Literal.String.Interpol */
    .sx { color: #e6db74 } /* Literal.String.Other */
    .sr { color: #e6db74 } /* Literal.String.Regex */
    .s1 { color: #e6db74 } /* Literal.String.Single */
    .dl { color: #e6db74 } /* Literal.String.Delimiter */
    .ss { color: #e6db74 } /* Literal.String.Symbol */
    .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
    .vc { color: #f8f8f2 } /* Name.Variable.Class */
    .vg { color: #f8f8f2 } /* Name.Variable.Global */
    .vi { color: #f8f8f2 } /* Name.Variable.Instance */
    .il { color: #ae81ff } /* Literal.Number.Integer.Long */
  }
}
