---
layout: default
---

<article>
  <header class="note-header">
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
      {% if page.type != 'pages' %}
      {{ page.last_modified_at | date: "%d %b %Y" }}
      {% endif %}
    </time>
  </header>

  <div class="note-content">
    {{ content }}
    <hr />
    <p style="font-style: italic; color: var(--secondary-text);">Merci de votre lecture. <a href="https://liut.me">Me
        contacter</a>.</p>
  </div>

  <aside class="note-sidebar">
    <h3 class="sidebar-title">Rétro-liens</h3>
    {% if page.backlinks.size > 0 %}
    <div class="backlink-grid">
      {% for backlink in page.backlinks %}
      <div class="backlink-box">
        <a class="internal-link"
          href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{
          backlink.title }}</a>
        <div class="backlink-excerpt">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="no-backlinks">
      <p>Aucune note ne fait référence à celle-ci pour le moment.</p>
    </div>
    {% endif %}
  </aside>
</article>

<div id="graph-wrapper">
  {% include notes_graph.html %}
</div>